ASSERT(
    ({sram2_size_in_words} * 4) >= 0 && ({sram2_size_in_words} * 4) <= 16K,
    "Specified SRAM2 size in words is not valid for the device; sram2_reserved_size_in_words={sram2_size_in_words}");

MEMORY
\{
    FLASH_INITIAL_SP :
        ORIGIN = 0x08000000,
        LENGTH = 4

    FLASH_ISR_VECTOR_TABLE :
        ORIGIN = 0x08000004,
        LENGTH = (15 + 85) * 4

    FLASH_TEXT :
        ORIGIN = ORIGIN(FLASH_ISR_VECTOR_TABLE) + LENGTH(FLASH_ISR_VECTOR_TABLE),
        LENGTH = 256K - 400

    SRAM : ORIGIN = 0x20000000, LENGTH = 64K - {sram2_size_in_words} * 4
    SRAM2 : ORIGIN = 0x20010000 - ALIGN({sram2_size_in_words} * 4, 8), LENGTH = ALIGN({sram2_size_in_words} * 4, 8)

    PERIPHERALS : ORIGIN = 0x40000000, LENGTH = 0xd0000000
}

ENTRY(_reset_handler);
EXTERN(_reset_handler);

SECTIONS
\{
    .text.isr_vector_table : \{
        KEEP(*(.smeg.isr_vector_table.st.stm32l432kc));
        ASSERT(
            (. - ADDR(.text.isr_vector_table) == LENGTH(FLASH_ISR_VECTOR_TABLE)),
            "The interrupt vector table must contain 15 ARM-defined vectors and 85 STM32L432KC-specific vectors");
    } > FLASH_ISR_VECTOR_TABLE

    .text : \{
        . = ALIGN(4);
        __LINKER_TEXT_START = .;
        KEEP(*(.smeg.bootstrap .smeg.bootstrap.*));
        *: (.text .text.*);
        __LINKER_TEXT_PAST_END = .;
        . = ALIGN(4);
    } > FLASH_TEXT

    .rodata : \{
        . = ALIGN(4);
        __LINKER_RODATA_START = .;
        *: (.rodata .rodata.*);
        __LINKER_RODATA_PAST_END = .;
        . = ALIGN(4);
    } > FLASH_TEXT

    /* TODO: The .data and .bss sections will have some elements that ought to be retained if gating RAM blocks for power-saving, so SRAM2 needs to be used */
    /* The build script / templating engine should be able to help with this - we can have two different snippets for sections depending on the feature gating */
    .data ORIGIN(SRAM) : \{
        . = ALIGN(4);
        __LINKER_DATA_START = .;

        __LINKER_DATA_FLAGS_GUARANTEED_ZERO_ON_RESET_0 = .;
        KEEP(*: (.data.flags.guaranteed_zero_on_reset.0));
        . = ALIGN(4);
        ASSERT((. - __LINKER_DATA_FLAGS_GUARANTEED_ZERO_ON_RESET_0) == 4, "Section .data.flags.guaranteed_zero_on_reset.0 must fit into a single word");

        *: (.data .data.*);
        __LINKER_DATA_PAST_END = .;
        . = ALIGN(4);
    } > SRAM AT> FLASH_TEXT
    __LINKER_DATA_LMA_START = ALIGN(LOADADDR(.data), 4);
    __LINKER_DATA_LMA_PAST_END = __LINKER_DATA_LMA_START + (__LINKER_DATA_PAST_END - __LINKER_DATA_START);

    .bss : \{
        . = ALIGN(4);
        __LINKER_BSS_START = .;
        *: (.bss .bss.*);
        __LINKER_BSS_PAST_END = .;
        . = ALIGN(4);
    } > SRAM

    .sram2 ORIGIN(SRAM2) : \{
        *: (.kernel.stack.isr.0);
        __LINKER_ISR_STACK_PAST_END = .;
        ASSERT(. == ALIGN(8), "ISR stack size must be a multiple of 8 bytes");
    } > SRAM2

    .text.initial_sp ORIGIN(FLASH_INITIAL_SP) : \{
        __LINKER_INITIAL_SP = .;
        LONG(__LINKER_ISR_STACK_PAST_END);
    } > FLASH_INITIAL_SP

    .undefined.0 0x20010000 (TYPE = SHT_NOBITS) : \{ . += 0x1fff0000; } > PERIPHERALS

    .peripherals.apb1.tim2 0x40000000 (TYPE = SHT_NOBITS) : \{ __LINKER_PERIPHERALS_APB1_TIM2 = .; . += 0x400; } > PERIPHERALS
    .peripherals.apb1.reserved.0 0x40000400 (TYPE = SHT_NOBITS) : \{ . += 0xc00; } > PERIPHERALS
    .peripherals.apb1.tim6 0x40001000 (TYPE = SHT_NOBITS) : \{ __LINKER_PERIPHERALS_APB1_TIM6 = .; . += 0x400; } > PERIPHERALS
    .peripherals.apb1.tim7 0x40001400 (TYPE = SHT_NOBITS) : \{ __LINKER_PERIPHERALS_APB1_TIM7 = .; . += 0x400; } > PERIPHERALS
    .peripherals.apb1.reserved.1 0x40001800 (TYPE = SHT_NOBITS) : \{ . += 0xf00; } > PERIPHERALS
    .peripherals.apb1.rtc 0x40002800 (TYPE = SHT_NOBITS) : \{ __LINKER_PERIPHERALS_APB1_RTC = .; . += 0x400; } > PERIPHERALS
    .peripherals.apb1.wwdg 0x40002c00 (TYPE = SHT_NOBITS) : \{ __LINKER_PERIPHERALS_APB1_WWDG = .; . += 0x400; } > PERIPHERALS
    .peripherals.apb1.iwdg 0x40003000 (TYPE = SHT_NOBITS) : \{ __LINKER_PERIPHERALS_APB1_IWDG = .; . += 0x400; } > PERIPHERALS
    .peripherals.apb1.reserved.2 0x40003400 (TYPE = SHT_NOBITS) : \{ . += 0x800; } > PERIPHERALS
    .peripherals.apb1.spi3 0x40003c00 (TYPE = SHT_NOBITS) : \{ __LINKER_PERIPHERALS_APB1_SPI3 = .; . += 0x400; } > PERIPHERALS
    .peripherals.apb1.reserved.3 0x40004000 (TYPE = SHT_NOBITS) : \{ . += 0x400; } > PERIPHERALS
    .peripherals.apb1.usart2 0x40004400 (TYPE = SHT_NOBITS) : \{ __LINKER_PERIPHERALS_APB1_USART2 = .; . += 0x400; } > PERIPHERALS
    .peripherals.apb1.reserved.4 0x40004800 (TYPE = SHT_NOBITS) : \{ . += 0xc00; } > PERIPHERALS
    .peripherals.apb1.i2c1 0x40005400 (TYPE = SHT_NOBITS) : \{ __LINKER_PERIPHERALS_APB1_I2C1 = .; . += 0x400; } > PERIPHERALS
    .peripherals.apb1.reserved.5 0x40005800 (TYPE = SHT_NOBITS) : \{ . += 0x400; } > PERIPHERALS
    .peripherals.apb1.i2c3 0x40005c00 (TYPE = SHT_NOBITS) : \{ __LINKER_PERIPHERALS_APB1_I2C3 = .; . += 0x400; } > PERIPHERALS
    .peripherals.apb1.crs 0x40006000 (TYPE = SHT_NOBITS) : \{ __LINKER_PERIPHERALS_APB1_CRS = .; . += 0x400; } > PERIPHERALS
    .peripherals.apb1.can1 0x40006400 (TYPE = SHT_NOBITS) : \{ __LINKER_PERIPHERALS_APB1_CAN1 = .; . += 0x400; } > PERIPHERALS
    .peripherals.apb1.usb.fs 0x40006800 (TYPE = SHT_NOBITS) : \{ __LINKER_PERIPHERALS_APB1_USB_FS = .; . += 0x400; } > PERIPHERALS
    .peripherals.apb1.usb.sram 0x40006c00 (TYPE = SHT_NOBITS) : \{ __LINKER_PERIPHERALS_APB1_USB_SRAM = .; . += 0x400; } > PERIPHERALS
    .peripherals.apb1.pwr 0x40007000 (TYPE = SHT_NOBITS) : \{ __LINKER_PERIPHERALS_APB1_PWR = .; . += 0x400; } > PERIPHERALS
    .peripherals.apb1.dac1 0x40007400 (TYPE = SHT_NOBITS) : \{ __LINKER_PERIPHERALS_APB1_DAC1 = .; . += 0x400; } > PERIPHERALS
    .peripherals.apb1.opamp 0x40007800 (TYPE = SHT_NOBITS) : \{ __LINKER_PERIPHERALS_APB1_OPAMP = .; . += 0x400; } > PERIPHERALS
    .peripherals.apb1.lptim1 0x40007c00 (TYPE = SHT_NOBITS) : \{ __LINKER_PERIPHERALS_APB1_LPTIM1 = .; . += 0x400; } > PERIPHERALS
    .peripherals.apb1.lpuart1 0x40008000 (TYPE = SHT_NOBITS) : \{ __LINKER_PERIPHERALS_APB1_LPUART1 = .; . += 0x400; } > PERIPHERALS
    .peripherals.apb1.reserved.6 0x40008400 (TYPE = SHT_NOBITS) : \{ . += 0x400; } > PERIPHERALS
    .peripherals.apb1.swpmi1 0x40008800 (TYPE = SHT_NOBITS) : \{ __LINKER_PERIPHERALS_APB1_SWPMI1 = .; . += 0x400; } > PERIPHERALS
    .peripherals.apb1.reserved.7 0x40008c00 (TYPE = SHT_NOBITS) : \{ . += 0x800; } > PERIPHERALS
    .peripherals.apb1.lptim2 0x40009400 (TYPE = SHT_NOBITS) : \{ __LINKER_PERIPHERALS_APB1_LPTIM2 = .; . += 0x400; } > PERIPHERALS
    .peripherals.apb1.reserved.9 0x40009800 (TYPE = SHT_NOBITS) : \{ . += 0x6800; } > PERIPHERALS

    .peripherals.apb2.syscfg 0x40010000 (TYPE = SHT_NOBITS) : \{ __LINKER_PERIPHERALS_APB2_SYSCFG = .; . += 0x30; } > PERIPHERALS
    .peripherals.apb2.reserved.0 0x40010030 (TYPE = SHT_NOBITS) : \{ . += 0x1d0; } > PERIPHERALS
    .peripherals.apb2.comp 0x40010200 (TYPE = SHT_NOBITS) : \{ __LINKER_PERIPHERALS_APB2_COMP = .; . += 0x200; } > PERIPHERALS
    .peripherals.apb2.exti 0x40010400 (TYPE = SHT_NOBITS) : \{ __LINKER_PERIPHERALS_APB2_EXTI = .; . += 0x400; } > PERIPHERALS
    .peripherals.apb2.reserved.1 0x40010800 (TYPE = SHT_NOBITS) : \{ . += 0x1400; } > PERIPHERALS
    .peripherals.apb2.firewall 0x40011c00 (TYPE = SHT_NOBITS) : \{ __LINKER_PERIPHERALS_APB2_FIREWALL = .; . += 0x400; } > PERIPHERALS
    .peripherals.apb2.reserved.2 0x40012000 (TYPE = SHT_NOBITS) : \{ . += 0xc00; } > PERIPHERALS
    .peripherals.apb2.tim1 0x40012c00 (TYPE = SHT_NOBITS) : \{ __LINKER_PERIPHERALS_APB2_TIM1 = .; . += 0x400; } > PERIPHERALS
    .peripherals.apb2.spi1 0x40013000 (TYPE = SHT_NOBITS) : \{ __LINKER_PERIPHERALS_APB2_SPI1 = .; . += 0x400; } > PERIPHERALS
    .peripherals.apb2.reserved.3 0x40013400 (TYPE = SHT_NOBITS) : \{ . += 0x400; } > PERIPHERALS
    .peripherals.apb2.usart1 0x40013800 (TYPE = SHT_NOBITS) : \{ __LINKER_PERIPHERALS_APB2_USART1 = .; . += 0x400; } > PERIPHERALS
    .peripherals.apb2.reserved.4 0x40013c00 (TYPE = SHT_NOBITS) : \{ . += 0x400; } > PERIPHERALS
    .peripherals.apb2.tim15 0x40014000 (TYPE = SHT_NOBITS) : \{ __LINKER_PERIPHERALS_APB2_TIM15 = .; . += 0x400; } > PERIPHERALS
    .peripherals.apb2.tim16 0x40014400 (TYPE = SHT_NOBITS) : \{ __LINKER_PERIPHERALS_APB2_TIM16 = .; . += 0x400; } > PERIPHERALS
    .peripherals.apb2.reserved.5 0x40014800 (TYPE = SHT_NOBITS) : \{ . += 0xc00; } > PERIPHERALS
    .peripherals.apb2.sai1 0x40015400 (TYPE = SHT_NOBITS) : \{ __LINKER_PERIPHERALS_APB2_SAI1 = .; . += 0x400; } > PERIPHERALS
    .peripherals.apb2.reserved.6 0x40015800 (TYPE = SHT_NOBITS) : \{ . += 0xa800; } > PERIPHERALS

    .peripherals.ahb1.dma1 0x40020000 (TYPE = SHT_NOBITS) : \{ __LINKER_PERIPHERALS_AHB1_DMA1 = .; . += 0x400; } > PERIPHERALS
    .peripherals.ahb1.dma2 0x40020400 (TYPE = SHT_NOBITS) : \{ __LINKER_PERIPHERALS_AHB1_DMA2 = .; . += 0x400; } > PERIPHERALS
    .peripherals.ahb1.reserved.0 0x40020800 (TYPE = SHT_NOBITS) : \{ . += 0x800; } > PERIPHERALS
    .peripherals.ahb1.rcc 0x40021000 (TYPE = SHT_NOBITS) : \{ __LINKER_PERIPHERALS_AHB1_RCC = .; . += 0x400; } > PERIPHERALS
    .peripherals.ahb1.reserved.1 0x40021400 (TYPE = SHT_NOBITS) : \{ . += 0xc00; } > PERIPHERALS
    .peripherals.ahb1.flash_registers 0x40022000 (TYPE = SHT_NOBITS) : \{ __LINKER_PERIPHERALS_AHB1_FLASHREGISTERS = .; . += 0x400; } > PERIPHERALS
    .peripherals.ahb1.reserved.2 0x40022400 (TYPE = SHT_NOBITS) : \{ . += 0xc00; } > PERIPHERALS
    .peripherals.ahb1.crc 0x40023000 (TYPE = SHT_NOBITS) : \{ __LINKER_PERIPHERALS_AHB1_CRC = .; . += 0x400; } > PERIPHERALS
    .peripherals.ahb1.reserved.3 0x40023400 (TYPE = SHT_NOBITS) : \{ . += 0xc00; } > PERIPHERALS
    .peripherals.ahb1.tsc 0x40024000 (TYPE = SHT_NOBITS) : \{ __LINKER_PERIPHERALS_AHB1_TSC = .; . += 0x400; } > PERIPHERALS
    .peripherals.ahb1.reserved.4 0x40024400 (TYPE = SHT_NOBITS) : \{ . += 0x7fdbc00; } > PERIPHERALS

    .peripherals.ahb2.gpio_a 0x48000000 (TYPE = SHT_NOBITS) : \{ __LINKER_PERIPHERALS_AHB2_GPIOA = .; . += 0x400; } > PERIPHERALS
    .peripherals.ahb2.gpio_b 0x48000400 (TYPE = SHT_NOBITS) : \{ __LINKER_PERIPHERALS_AHB2_GPIOB = .; . += 0x400; } > PERIPHERALS
    .peripherals.ahb2.gpio_c 0x48000800 (TYPE = SHT_NOBITS) : \{ __LINKER_PERIPHERALS_AHB2_GPIOC = .; . += 0x400; } > PERIPHERALS
    .peripherals.ahb2.reserved.0 0x48000c00 (TYPE = SHT_NOBITS) : \{ . += 0x1000; } > PERIPHERALS
    .peripherals.ahb2.gpio_h 0x48001c00 (TYPE = SHT_NOBITS) : \{ __LINKER_PERIPHERALS_AHB2_GPIOH = .; . += 0x400; } > PERIPHERALS
    .peripherals.ahb2.reserved.1 0x48002000 (TYPE = SHT_NOBITS) : \{ . += 0x7ffe000; } > PERIPHERALS
    .peripherals.ahb2.reserved.2 0x50000000 (TYPE = SHT_NOBITS) : \{ . += 0x40000; } > PERIPHERALS
    .peripherals.ahb2.adc 0x50040000 (TYPE = SHT_NOBITS) : \{ __LINKER_PERIPHERALS_AHB2_ADC = .; . += 0x400; } > PERIPHERALS
    .peripherals.ahb2.reserved.3 0x50040400 (TYPE = SHT_NOBITS) : \{ . += 0x20400; } > PERIPHERALS
    .peripherals.ahb2.rng 0x50060800 (TYPE = SHT_NOBITS) : \{ __LINKER_PERIPHERALS_AHB2_RNG = .; . += 0x400; } > PERIPHERALS
    .peripherals.ahb2.reserved.4 0x50060c00 (TYPE = SHT_NOBITS) : \{ . += 0xff9f400; } > PERIPHERALS

    .undefined.1 0x60000000 (TYPE = SHT_NOBITS) : \{ . += 0x30000000; } > PERIPHERALS

    .quad_spi.flash 0x90000000 (TYPE = SHT_NOBITS) : \{ __LINKER_QUADSPI_FLASH = .; . += 0x10000000; } > PERIPHERALS

    .undefined.2 0xa0000000 (TYPE = SHT_NOBITS) : \{ . += 0x1000; } > PERIPHERALS

    .quad_spi.registers 0xa0001000 (TYPE = SHT_NOBITS) : \{ __LINKER_QUADSPI_REGISTERS = .; . += 0x400; } > PERIPHERALS
    .quad_spi.registers.reserved.0 0xa0001400 (TYPE = SHT_NOBITS) : \{ . += 0x1fffebff; } > PERIPHERALS

    .undefined.3 0xc0000000 (TYPE = SHT_NOBITS) : \{ . += 0x20000000; } > PERIPHERALS

    .system.reserved.0 0xe0000000 (TYPE = SHT_NOBITS) : \{ . += 0xe000; } > PERIPHERALS
    .system.scs 0xe000e000 (TYPE = SHT_NOBITS) : \{ __LINKER_SYSTEM_SCS = .; . += 0x1000; } > PERIPHERALS
    .system.reserved.1 0xe000f000 (TYPE = SHT_NOBITS) : \{ . += 0xf0000; } > PERIPHERALS
    .system.rom_table 0xe00ff000 (TYPE = SHT_NOBITS) : \{ __LINKER_SYSTEM_ROMTABLE = .; . += 0x1000; } > PERIPHERALS
    .system.reserved.2 0xe0100000 (TYPE = SHT_NOBITS) : \{ . += 0x1fefffff; } > PERIPHERALS

    .smeg.tags.errors 0 (INFO) : \{
        KEEP(* (.smeg.tags.errors))

        ASSERT(
            (. <= 65536),
            "Error tags are represented internally as 16-bit values but section .smeg.tags.errors exceeds this");
    }

    .stack_sizes (INFO) : \{
        KEEP(* (.stack_sizes));
    }

    .ARM.attributes /* (NOLOAD) */ : \{ KEEP(* (.ARM.attributes)) }
    .comment /* (NOLOAD) */ : \{ KEEP(* (.comment)) }
    .debug_abbrev /* (NOLOAD) */ : \{ KEEP(* (.debug_abbrev)) }
    .debug_rnglists /* (NOLOAD) */ : \{ KEEP(* (.debug_rnglists)) }
    .debug_aranges /* (NOLOAD) */ : \{ KEEP(* (.debug_aranges)) }
    .debug_frame /* (NOLOAD) */ : \{ KEEP(* (.debug_frame)) }
    .debug_info /* (NOLOAD) */ : \{ KEEP(* (.debug_info)) }
    .debug_line /* (NOLOAD) */ : \{ KEEP(* (.debug_line)) }
    .debug_line_str /* (NOLOAD) */: \{ KEEP(* (.debug_line_str)) }
    .debug_str /* (NOLOAD) */ : \{ KEEP(* (.debug_str)) }
    .symtab /* (NOLOAD) */ : \{ KEEP(* (.symtab)) }
    .shstrtab : \{ KEEP(* (.shstrtab)) }
    .strtab : \{ KEEP(* (.strtab)) }

    /DISCARD/ : \{
        *: (.ARM.exidx .ARM.exidx.*)
        *: (.ARM.extab .ARM.extab.*)
    }

    .do_not_allow 0 (INFO) : \{
        KEEP(*(.init .init* .fini .fini*));
        ASSERT(. == 0, "There should be no .init* or .fini* sections");

        KEEP(*(.ctors .ctors* .dtors .dtors*));
        ASSERT(. == 0, "There should be no .ctors* or .dtors* sections");
    }
}
